<ion-header>
  <ion-toolbar color="primary">
    <ion-button slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-button>  
    <ion-button slot="end" routerLink="/view-announcement">
      <ion-icon name="notifications-outline" size="medium" ></ion-icon>
    </ion-button>
    <ion-button slot="end" routerLink="/view-invitation">
      <ion-icon name="mail-unread-outline" size="medium" ></ion-icon>
    </ion-button>
  </ion-toolbar><br>
  <ion-toolbar>
    <ion-title slot="start" size="medium" color="primary" style="height: 45px;">Salvation Form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Personal Information -->
<div>
<ion-item>
  <ion-icon name="person-outline" slot="start"></ion-icon>
  <ion-label>Personal information</ion-label>

</ion-item>
<ion-item>
  <ion-label>Alter worker</ion-label>
  <ion-input></ion-input>
</ion-item>
<br>
<div style="text-align: center;">
<ion-item>
  <ion-label style="background-color: teal; color: white; text-align: center;" expand="full">Tell us about yourself</ion-label>
</ion-item>
</div>
  <br>
  <ion-item>
    <ion-label>Title</ion-label>
    <ion-select placeholder="Select Title">
      <ion-select-option>Kids Church</ion-select-option>
      <ion-select-option>Intercession</ion-select-option>
      <ion-select-option>Street Ministry</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Name</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Surname</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Age</ion-label>
    <ion-select placeholder="Select Age">
      <ion-select-option>Kids Church</ion-select-option>
      <ion-select-option>Intercession</ion-select-option>
      <ion-select-option>Street Ministry</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Maritual status</ion-label>
    <ion-select placeholder="Select status">
      <ion-select-option>Kids Church</ion-select-option>
      <ion-select-option>Intercession</ion-select-option>
      <ion-select-option>Street Ministry</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Employment status</ion-label>
    <ion-select placeholder="Select status">
      <ion-select-option>Kids Church</ion-select-option>
      <ion-select-option>Intercession</ion-select-option>
      <ion-select-option>Street Ministry</ion-select-option>
    </ion-select>
  </ion-item>


  <div style="text-align: center;">
    <ion-item>
      <ion-label style="background-color: teal; color: white; text-align: center;" expand="full">We would like to come and visit you</ion-label>
    </ion-item>
    </div>
    <ion-item>
      <ion-label>Residential Address</ion-label>
      <ion-textarea clearOnEdit="true"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Suburb</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>City</ion-label>
      <ion-input></ion-input>
    </ion-item>


    <div style="text-align: center;">
      <ion-item>
        <ion-label style="background-color: teal; color: white; text-align: center;" expand="full">How can we contact you?</ion-label>
      </ion-item>
      </div>
      <ion-item>
        <ion-label>Tel (H)</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Tel (W)</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Cell phone</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Email</ion-label>
        <ion-input type="Email"></ion-input>
      </ion-item>


      <div style="text-align: center;">
        <ion-item>
          <ion-label style="background-color: teal; color: white; text-align: center;" expand="full">Did someone invite you to CRC?</ion-label>
        </ion-item>
        </div>
        <ion-list>
          <ion-radio-group>
            <ion-item>
              <ion-label>If someone invited you, please give <br>us his/her name</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Yes</ion-label>
              <ion-radio slot="start"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>No</ion-label>
              <ion-radio slot="start"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
        <ion-item>
          <ion-label>Name & Surname</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Homecell Leader</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Zone Pastor</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <br>
        <div style="text-align: center;">
        <ion-button style="width: 75px;">Back</ion-button>
        <ion-button style="width: 75px;" (click)="presentToast()">Next</ion-button>
      </div>
      </div>

<!-- Education -->
      <div *ngIf="Education">
        <ion-item>
          <ion-icon name="book-outline" slot="start"></ion-icon>
          <ion-label>Education</ion-label>
        </ion-item>
        <br>
        <ion-list>
          <ion-radio-group>
            <ion-item>
              <ion-label>Please select your current education level</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>School</ion-label>
              <ion-radio slot="start"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>University</ion-label>
              <ion-radio slot="start"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
        
        <br>

        <div>
          <div style="text-align: center;">
            <ion-item>
              <ion-label style="background-color: teal; color: white; text-align: center;" expand="full">School</ion-label>
            </ion-item>
            </div>
            <ion-list>
              <ion-radio-group>
                <ion-item>
                  <ion-label>Please select one of the options:</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>High School</ion-label>
                  <ion-radio slot="start"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>Primary School</ion-label>
                  <ion-radio slot="start"></ion-radio>
                </ion-item>
              </ion-radio-group>
            </ion-list>
            <ion-item>
              <ion-label>Name of school</ion-label>
              <ion-input slot="end"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Grade</ion-label>
              <ion-select placeholder="Select Grade">
                <ion-select-option>Kids Church</ion-select-option>
                <ion-select-option>Intercession</ion-select-option>
                <ion-select-option>Street Ministry</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label>Parent/Guardian's cell <br>phone number if under <br>the age of 18</ion-label>
              <ion-input slot="end"></ion-input>
            </ion-item>
        </div>


        <div>
          <div style="text-align: center;">
            <ion-item>
              <ion-label style="background-color: teal; color: white; text-align: center;" expand="full">University</ion-label>
            </ion-item>
            </div>
            <ion-item>
              <ion-label>Current year of study</ion-label>
              <ion-select placeholder="Select year">
                <ion-select-option>Kids Church</ion-select-option>
                <ion-select-option>Intercession</ion-select-option>
                <ion-select-option>Street Ministry</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label>Institution</ion-label>
              <ion-input slot="end"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Study Address</ion-label>
              <ion-textarea clearOnEdit="true"></ion-textarea>
            </ion-item>
        </div>
        <br>
<div style="text-align: center;">
<ion-button style="width: 75px;">Prev</ion-button>
<ion-button style="width: 75px;" (click)="presentToast()">Next</ion-button>
      </div>
      </div>

      <!-- Prayer Request -->
      <div *ngIf="PrayerRequest">
        <ion-item>
          <ion-icon name="document-outline" slot="start"></ion-icon>
          <ion-label>Education</ion-label>
        </ion-item>
        <br>
        <ion-item>
          <ion-label style="background-color: teal; color: white; text-align: center;" expand="full">Do you have a prayer request?</ion-label>
        </ion-item>
        <br>
        <ion-item>
          <ion-label>What would you like <br>us to pray for?</ion-label>
          <ion-textarea clearOnEdit="true"></ion-textarea>
        </ion-item>
        <br>
      <ion-item>
        <ion-label style="text-align: center;" expand="full">"I say to you that likewise there will be more<br> joy in heaven over one sinner who<br> repents than over ninethy-nine just persons <br>who need no repentance." -Luke 15:7 (NKJV)</ion-label>
      </ion-item>
      <br>
    <div style="text-align: center;">
    <ion-button style="width: 75px;">Prev</ion-button>
    <ion-button style="width: 75px;" (click)="presentToast()">Next</ion-button>
      </div>
      </div>

</ion-content>
