nb-header {
    font-size: x-large;
    font-weight: bold;
}

label {
    margin-right: 15px;
}

input {
    height: 30px;
}

nb-user{
    margin-left:950px;
  }

  nb-form-field {
    float: right;
}

nb-header {
    font-size: x-large;
    font-weight: bold;
}

table {
    border: 1px solid lightpurple;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(odd){background-color: #252547}
  
  th {
    background-color:#252547 ;
    color: white;
  }
  
  nb-accordion{
    box-shadow: none;
    nb-accordion-item{
    background-color: transparent;
    }
  
  }
