<nb-layout>

    <!-- nav bar start -->
    <nb-layout-header fixed>
        <a href="#" (click)="toggle()"><i class="nb-menu"><nb-icon icon="menu-outline" [options]="{ animation: { type: 'pulse' } }"></nb-icon></i></a>
        <div class="header-container">
        <nb-actions size="medium"  >
           <nb-action icon="email-outline"
                     
                     title="Invitations"
                     link="/ViewInvitation"
                     >
          </nb-action>
          <nb-action icon="message-circle-outline"
                     title="Announcements"
                     link="/ViewAnnouncement">
          </nb-action>
          <nb-action id="user">
            <nb-user name="John Doe" title="Engineer"></nb-user>
          </nb-action>
          <nb-action>
              <button type="button" nbButton class="btn btn-info" (click)="Logout()">Logout</button>
          </nb-action>
         </nb-actions>
        </div>
  
  
      </nb-layout-header>
  
      <nb-sidebar state="compacted">
              <nb-menu [items]="items"></nb-menu>
      </nb-sidebar>
  
      <!-- nav bar end -->
   

      <nb-layout-column class="colored-column-basic"> 
        <form [formGroup]="addChild" (ngSubmit)="onSubmit(addChild.value)">
        <nb-card>
           
                <nb-card-header>Add Child</nb-card-header>
                <br><br>
                <nb-card-body>
                    <p>Please complete all the required fields</p>
                    <br>
                    
                    <label style="margin-right: 138px;">Child Name:</label>
                    <input type="text" nbInput  formControlName="Name" placeholder="Child Name"  style="margin-right: 150px;" required>
                    <br><br>
        
                    <label style="margin-right: 118px;">Child Surname:</label>
                    <input type="text" nbInput  formControlName="Surname" placeholder="Child Surname"  style="margin-right: 150px;" required>
                    <br><br>
        
                    <label style="margin-right: 133px;">Date of Birth:</label>  
                    <input type="date" nbInput  formControlName="DateOfBirth" shape="rectangle" required>
                    
                    <br><br><br>
                    <button nbButton status="basic" style="margin-right: 30px;">Add Child</button>
                    <button nbButton status="basic" routerLink="/KidsChurch">Cancel</button>
                </nb-card-body>
           
        </nb-card >
     </form>
        <div *ngIf="showTable">
            <nb-card>
                <nb-card-body>
                    <table>
                        <tr>
                            <th style="text-align: center;">Name</th>
                            <th style="text-align: center;">Surname</th>
                            <th style="text-align: center;">Group</th>
                            <th style="text-align: center;">View</th>
                        </tr>
                        <tr *ngFor="let c of myChildren">
                            <td>{{c.Name}}</td>
                            <td>{{c.Surname}}</td>
                            <td>
                                <button nbButton style="text-align: center;" (click)="open2()" fullWidth>View</button>
                            </td>
                        </tr>
                    
                    </table>
                </nb-card-body>
            </nb-card>
        </div>
      </nb-layout-column>
      
</nb-layout>

