<ion-header>
  <ion-toolbar color="primary">
    <ion-button slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-button>
   
    <ion-thumbnail style="margin-left:45%; " >
      <ion-img  src="https://jpitwebdev.co.za/crc/wp-content/uploads/2019/11/crc-logo-menu-retina-white.png"></ion-img>
    </ion-thumbnail>
    
    <ion-button slot="end" routerLink="/view-announcement">
      <ion-icon name="notifications-outline" size="medium" ></ion-icon>
    </ion-button>
    <ion-button slot="end" routerLink="/view-invitation">
      <ion-icon name="mail-unread-outline" size="medium" ></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>  
  
  <ion-title style="text-align: center; margin: 0.5em; " color="primary">Register Child</ion-title>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Select Child</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-list>
        <ion-radio-group>
        <ion-item *ngFor="let c of Child">
                    
            <ion-label style="margin-left: 0.5em">{{ c.text }}</ion-label>
            <ion-radio slot="start"></ion-radio>
              
        </ion-item>
      </ion-radio-group>
      </ion-list>
      <ion-button expand="block" color="primary">Next</ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Select Class</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-list>
        <ion-radio-group>
        <ion-item *ngFor="let k of Class">
                    
            <ion-label style="margin-left: 0.5em">{{ k.text }}</ion-label>
            <ion-radio slot="start"></ion-radio>
              
        </ion-item>
      </ion-radio-group>
      </ion-list>
      <ion-button expand="block" color="primary">Next</ion-button>
    </ion-card-content>
  </ion-card>


  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Confirm Registration</ion-card-title>
    </ion-card-header>

    <ion-item> 
      <ion-text color="danger">
      <h5>Are you sure you want to register [ChildName] into [ClassName]?</h5>      
    </ion-text>
  </ion-item>
     
    <ion-item>
      <ion-label>Confirm</ion-label>
      <ion-checkbox slot="start"></ion-checkbox>
    </ion-item>
      <ion-button expand="block" color="primary"><ion-icon name="document-text-outline"  style="margin-right: 1em"></ion-icon> Register</ion-button>
    </ion-card>
</ion-content>
