<script src="https://kit.fontawesome.com/a076d05399.js"></script>

<nb-layout>
  
    <!-- nav bar start -->
    <nb-layout-header fixed>
      <a href="#" (click)="toggle()"><i class="nb-menu"><nb-icon icon="menu-outline" [options]="{ animation: { type: 'pulse' } }"></nb-icon></i></a>
      <div class="header-container">
      <nb-actions size="medium"  >
         <nb-action icon="email-outline"
                   
                   title="Invitations"
                   link="/ViewInvitation"
                   >
        </nb-action>
        <nb-action icon="message-circle-outline"
                   title="Announcements"
                   link="/ViewAnnouncement">
        </nb-action>
        <nb-action id="user">
          <nb-user name="John Doe" title="Engineer"></nb-user>
        </nb-action>
        <nb-action>
            <button type="button" nbButton class="btn btn-info" (click)="Logout()">Logout</button>
        </nb-action>
       </nb-actions>
      </div>


    </nb-layout-header>

    <nb-sidebar state="compacted">
            <nb-menu [items]="items"></nb-menu>
    </nb-sidebar>

    <!-- nav bar end -->
    <nb-layout-column class="colored-column-basic">
  <!-- Content on page START -->
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>

  <nb-layout>
  
      <nb-layout-column class="colored-column-basic">
    <!-- Content on page START -->
    <nb-card>
        <nb-card-header>
          <h1>Structure Discipleship Report  <button class="next-button" nbButton routerLink="/HomecellNotesAdd" style="float: right;  background: teal;color: white; border-color: teal;"> <nb-icon icon="save-outline"></nb-icon> Generate PDF</button></h1>
        </nb-card-header>
      <nb-card-body>
          <div >
          <!-- <label style="margin-right: 10px;">Discipleship: </label><nb-select placeholder="Select Discipleship" style="margin-right: 10px;">
              <nb-option value="">Disc</nb-option>
              <nb-option value="0">Baptised</nb-option>
              <nb-option value="1">Spiritual Gifts</nb-option>
              <nb-option value="3">All Discipleships</nb-option>
            </nb-select> -->
  
              <label style="margin-right: 10px;">From:</label><input type="date" nbInput  shape="rectangle" placeholder="Rectangle" style="margin-right: 10px;">
              <label style="margin-right: 10px;">To:</label><input type="date" nbInput  shape="rectangle" placeholder="Rectangle" style="margin-right: 10px;">
          
              <button class="next-button" nbButton  style="float: right; background: teal;color: white; border-color: teal;" (click)='submitRequets()'>Generate Report</button>
            </div><br>
          <hr>
  
          <div style="text-align: left; background-color: teal;"><label><b>All Discipleships - Total attendance rate : 95 %</b></label></div>
         <br>
          <table class="table">
              <thead>
                <th>Discipleship</th>
                <th>Attended</th>
              </thead>
              <tbody>
                  <tr *ngFor='let d of disc, let i=index'>
                    <td>{{d}}</td>
                    <td>{{Attended[i]}}</td>
  
  
                  </tr>
                  <!-- <tr>
                      <td>Baptised</td>
                      <td>20</td>
  
                  </tr>
                  <tr>
                      <td>Spiritual Gifts</td>
                      <td>15</td>
  
                  </tr> -->
              </tbody>
          </table>
  
      </nb-card-body>
    </nb-card>
  
    <!-- Content on page END -->
      </nb-layout-column>
    </nb-layout>
  
  
  
  

  <!-- Content on page END -->
    </nb-layout-column>
  </nb-layout>
  


