<ion-header>
  <ion-toolbar color="primary">
    <ion-button slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-button>  
    
    <ion-thumbnail style="margin-left:45%; " >
      <ion-img  src="https://jpitwebdev.co.za/crc/wp-content/uploads/2019/11/crc-logo-menu-retina-white.png"></ion-img>
    </ion-thumbnail>
    
    <ion-button slot="end" routerLink="/view-announcement">
      <ion-icon name="notifications-outline" size="medium" ></ion-icon>
    </ion-button>
    <ion-button slot="end" routerLink="/view-invitation">
      <ion-icon name="mail-unread-outline" size="medium" ></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title style="text-align: center; margin: 0.5em" color="primary">Invitations</ion-title>

  <ion-list >
    <ion-card>
     
        <ion-card-title style="text-align: center; margin: 0.5em">Homecell meeting</ion-card-title>
        <ion-card-content>
          <ion-item>
            <p>
              Keep close to Nature's heart... and break clear away, once in awhile,
    and climb a mountain or spend a week in the woods. Wash your spirit clean.
            </p>
          </ion-item>
        <ion-item>
        <p><strong>Date: </strong>2020/03/15</p>
      </ion-item>
    <ion-item>
        <p><strong>Time:</strong> 15:00 to 16:00</p>
      </ion-item>
    <ion-item>
        <ion-button id="inv-button"><ion-icon name="logo-google"></ion-icon> Add to Calender</ion-button>

        <ion-button id="inv-button">Dismiss</ion-button>
      </ion-item>
    </ion-card-content>
    </ion-card>
  
  
  </ion-list>
</ion-content>
