<nb-layout>
    
    <!-- nav bar start -->
    <nb-layout-header fixed>
        <a href="#" (click)="toggle()"><i class="nb-menu"><nb-icon icon="menu-outline" [options]="{ animation: { type: 'pulse' } }"></nb-icon></i></a>
        <div class="header-container">
        <nb-actions size="medium"  >
           <nb-action icon="email-outline"
                     
                     title="Invitations"
                     link="/ViewInvitation"
                     >
          </nb-action>
          <nb-action icon="message-circle-outline"
                     title="Announcements"
                     link="/ViewAnnouncement">
          </nb-action>
          <nb-action id="user">
            <nb-user name="John Doe" title="Engineer"></nb-user>
          </nb-action>
          <nb-action>
              <button type="button" nbButton class="btn btn-info" (click)="Logout()">Logout</button>
          </nb-action>
         </nb-actions>
        </div>
  
  
      </nb-layout-header>
  
      <nb-sidebar state="compacted">
              <nb-menu [items]="items"></nb-menu>
      </nb-sidebar>
  
      <!-- nav bar end -->
      <nb-layout-column class="colored-column-basic">
<nb-card>
    <nb-card-header>
      <h1>Homecell Notes Upload</h1>
    </nb-card-header>
  <nb-card-body>
          <label style="margin-right: 10px;">Attach file</label><input type="file" class="next-button" nbButton style="margin-right: 5px;">
          
          <br><br><hr><br>
      <label style="font-size: medium;"><strong><u>Attached files</u></strong></label>
      <br><br>
      <table class="table">
          <thead>
              <tr>
                  <th>Date</th>
                  <th>File Name</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>2020-05-10</td>
                  <td><nb-icon icon="file-text-outline"></nb-icon> HCNotes_20200510.pdf</td>
              </tr>
          </tbody>
      </table><br>
      <div style="float: right;">
      <button class="next-button" nbButton style="margin-right: 5px;" routerLink="/HomecellNotes">Back</button><button class="next-button" nbButton>Submit</button>
  </div>
  </nb-card-body>
</nb-card></nb-layout-column>
</nb-layout>
