<nb-layout>

    <!-- nav bar start -->
    <nb-layout-header fixed>
      <a href="#" (click)="toggle()"><i class="nb-menu"><nb-icon icon="menu-outline" [options]="{ animation: { type: 'pulse' } }"></nb-icon></i></a>
      <div class="header-container">
      <nb-actions size="medium"  >
         <nb-action icon="email-outline"
                   
                   title="Invitations"
                   link="/ViewInvitation"
                   >
        </nb-action>
        <nb-action icon="message-circle-outline"
                   title="Announcements"
                   link="/ViewAnnouncement">
        </nb-action>
        <nb-action id="user">
          <nb-user name="John Doe" title="Engineer"></nb-user>
        </nb-action>
        <nb-action>
            <button type="button" nbButton class="btn btn-info" (click)="Logout()">Logout</button>
        </nb-action>
       </nb-actions>
      </div>


    </nb-layout-header>

    <nb-sidebar state="compacted">
            <nb-menu [items]="items"></nb-menu>
    </nb-sidebar>

    <!-- nav bar end -->
    <nb-layout-column class="colored-column-basic">
      <nb-card>
        <nb-card-header>Reset Password</nb-card-header>
        <nb-card-body>
          <form class="modal-content animate" action="/action_page.php" method="post">
              <div class="imgcontainer">
                <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                <img src="assets/CRC(No Background).png" alt="CRC Logo" class="avatar">
              </div>
          </form>
        <div float= "center"><label>Username   </label><br><input type="text" nbInput   placeholder="Username" fullWidth><br><br>
            <label>Date of Birth   </label><br><input type="date" nbInput   placeholder="Birthday" fullWidth><br><br>
            <div style="display: none;" id="OTP">  <label>New Password   </label><br><input type="text" nbInput   placeholder="New Password" fullWidth >
        </div>

        </div>
        </nb-card-body>
        <nb-card-footer> 
        <div class="logindiv"><button nbButton status="basic" (click)="openOTP()" (click)="openConfirm()">Submit</button></div>
          <div class="logindiv"  style="display: none;" id="Confirm"><button nbButton status="basic"type="submit" >Confirm New Password</button>
             </div>
            <br>
            <br>
          </nb-card-footer>
      </nb-card>
    </nb-layout-column>
</nb-layout>

    <!--<div class="form-popup" id="myForm">
        <form action="/action_page.php" class="form-container">
          <h1>New Password</h1>
      
          <label for="email"><b>New Password</b></label>
          <input type="password" placeholder="New Password" name="email" required nbInput>
      
          <label for="psw"><b>Confirm New Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required nbInput>
      
          <button class="btn" nbButton status="success" (click)="openOTP()" (click)="callOTP(thisPerson)" type="submit">Reset</button>
          <button type="button" class="btn cancel" nbButton status="danger" (click)="closeForm()">Close</button>
        </form>
      </div>-->


 
      
  
    <router-outlet></router-outlet>