<nb-layout>
    
    <!-- nav bar start -->
    <nb-layout-header fixed>
        <a href="#" (click)="toggle()"><i class="nb-menu"><nb-icon icon="menu-outline" [options]="{ animation: { type: 'pulse' } }"></nb-icon></i></a>
        <div class="header-container">
        <nb-actions size="medium"  >
           <nb-action icon="email-outline"
                     
                     title="Invitations"
                     link="/ViewInvitation"
                     >
          </nb-action>
          <nb-action icon="message-circle-outline"
                     title="Announcements"
                     link="/ViewAnnouncement">
          </nb-action>
          <nb-action id="user">
            <nb-user name="John Doe" title="Engineer"></nb-user>
          </nb-action>
          <nb-action>
              <button type="button" nbButton class="btn btn-info" (click)="Logout()">Logout</button>
          </nb-action>
         </nb-actions>
        </div>
  
  
      </nb-layout-header>
  
      <nb-sidebar state="compacted">
              <nb-menu [items]="items"></nb-menu>
      </nb-sidebar>
  
      <!-- nav bar end -->
      <nb-layout-column class="colored-column-basic">

<h3>Discipleships</h3>

<!-- <input nbInput type="text"  [(ngModel)]="searchText" placeholder="Search..."> -->
<button nbButton status="basic" style="float: right;" routerLink="/AddDiscipleship">+</button>

<table class="table">
  <thead>
      <tr>
          <th>ID</th>
          <th>Description</th>
          <th></th>
          <th></th>
      </tr>
  </thead>
  <tbody  *ngFor="let disc of DiscList | async ">
      <tr>
        <td>{{disc.DiscipleshipID}}</td>
        <td >{{disc.DiscipleshipDescription}}</td>
        <td ><button nbButton ghost status="basic" size="large"><nb-icon icon="edit-2-outline" routerLink="/UpdateDiscipleship/{{disc.DiscipleshipID}}" [options]="{ animation: { type: 'pulse' } }"></nb-icon></button></td>
        <td ><button nbButton ghost status="basic" type="button" size="large"><nb-icon icon="trash-2-outline" (click)="onDelete(disc)" [options]="{ animation: { type: 'pulse' } }"></nb-icon></button></td>
    </tr>

    </tbody>

</table></nb-layout-column>
</nb-layout>