<nb-layout>
  
    <!-- nav bar start -->
    <nb-layout-header fixed>
      <a href="#" (click)="toggle()"><i class="nb-menu"><nb-icon icon="menu-outline" [options]="{ animation: { type: 'pulse' } }"></nb-icon></i></a>
      <div class="header-container">
      <nb-actions size="medium"  >
         <nb-action icon="email-outline"
                   
                   title="Invitations"
                   link="/ViewInvitation"
                   >
        </nb-action>
        <nb-action icon="message-circle-outline"
                   title="Announcements"
                   link="/ViewAnnouncement">
        </nb-action>
        <nb-action id="user">
          <nb-user name="John Doe" title="Engineer"></nb-user>
        </nb-action>
        <nb-action>
            <button type="button" nbButton class="btn btn-info" (click)="Logout()">Logout</button>
        </nb-action>
       </nb-actions>
      </div>


    </nb-layout-header>

    <nb-sidebar state="compacted">
            <nb-menu [items]="items"></nb-menu>
    </nb-sidebar>

    <!-- nav bar end -->
    <nb-layout-column class="colored-column-basic">
<form #FollowUp="ngForm" (ngSubmit)="onSubmit(FollowUp.value)">

  <nb-card *ngFor="let p of followUpList">
    <nb-card-body>
      <div style="margin:0.5em"><strong>
      <label>Total: {{p.FollowUpPorgress.Total}}</label><br>
      <label>Completed: {{p.FollowUpPorgress.Completed}}</label><br>
      <label>Remaining: {{p.FollowUpPorgress.Remaining}}</label><br>
  
    </strong></div>
        <nb-progress-bar [value]="p.FollowUpPorgress.PersentageComplete" status="success">Completed</nb-progress-bar>
  
      </nb-card-body>
  </nb-card>
  <div>
    <p  style='color: tomato; text-align: center;'><strong>Please note only select one discipleship to follow up on.</strong></p>
    <p  style='color: tomato; text-align: center;'>If more is selected only your top selection will be saved!</p>
  </div>
  <nb-card>
    <nb-card-header>Follow Up on Discipleship</nb-card-header>
    <nb-card-body>
  
      <table  *ngFor="let p of followUpList">
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Cell Number</th>
          <th>Discipleship</th>
          <th></th>
        </tr>
  
        <tr *ngFor="let x of p.MemberList, let i=index">
          <td>{{x.PersonName}}</td>
          <td>{{x.PersonSurname}}</td>
          <td>{{x.PersonNumber}}</td>
          <input [(ngModel)]="x.PersonID" [name]=" 'Person' +  [i]" hidden>
          <td>
            <nb-accordion>
             <nb-accordion-item>
            <nb-accordion-item-header>View</nb-accordion-item-header>
            <nb-accordion-item-body  *ngFor="let uc of x.Discipleships, let i=index">
  
                  <nb-checkbox status="primary"  #checked="ngModel" name="checked" [(ngModel)]="uc.isChecked"  (change)="changeSelection(x.Discipleships)">{{uc.Discipleship[0].DiscipleshipDescription}}</nb-checkbox>
  
            </nb-accordion-item-body>
  
           </nb-accordion-item>
          </nb-accordion>
          <input type="text" name="Person_Discipleship" hidden [(ngModel)]="Person_Discipleship">
        </td>
          <td style="text-align: center;"><button nbButton size="small" >Completed<nb-icon icon="checkmark-outline"></nb-icon></button></td>
        </tr>
      </table>
    </nb-card-body>
  </nb-card>
    </form></nb-layout-column>

  </nb-layout>