<nb-layout>
  
    <!-- nav bar start -->
    <nb-layout-header fixed>
      <a href="#" (click)="toggle()"><i class="nb-menu"><nb-icon icon="menu-outline" [options]="{ animation: { type: 'pulse' } }"></nb-icon></i></a>
      <div class="header-container">
      <nb-actions size="medium"  >
         <nb-action icon="email-outline"
                   
                   title="Invitations"
                   link="/ViewInvitation"
                   >
        </nb-action>
        <nb-action icon="message-circle-outline"
                   title="Announcements"
                   link="/ViewAnnouncement">
        </nb-action>
        <nb-action id="user">
          <nb-user name="John Doe" title="Engineer"></nb-user>
        </nb-action>
        <nb-action>
            <button type="button" nbButton class="btn btn-info" (click)="Logout()">Logout</button>
        </nb-action>
       </nb-actions>
      </div>


    </nb-layout-header>

    <nb-sidebar state="compacted">
            <nb-menu [items]="items"></nb-menu>
    </nb-sidebar>

    <!-- nav bar end -->
    <nb-layout-column class="colored-column-basic">

<form #updatedOrgIndivPos="ngForm"   (ngSubmit)="onSubmit(updatedOrgIndivPos.value)">

  <nb-card>
      <nb-card-header>Maintain Duties of Organisational Individual Position</nb-card-header>
      <nb-card-body>

         <div class="row" style="text-align: left;">
          <label style="float: left; margin-left: 25px; margin-top: 1em; margin-right: 2em;">Position</label>
          <input type="text"  required type="text" name="Decription" ngModel #Decription="ngModel"  nbInput id="Description" [(ngModel)]="oip.Decription" disabled placeholder="eg. Zone Pastor">

          </div>
          <div class="row">
          <div class="column">
            <nb-card>
              <nb-card-header>Use Case Access</nb-card-header>
              <nb-card-body>
                <nb-list *ngIf="Usecases" >
                  <nb-list-item *ngFor="let uc of Usecases"   >
                    <nb-checkbox status="primary"  #checkUC="ngModel"  name="checkUC" [(ngModel)]="uc.isChecked" (change)="changeSelection()">{{uc.UCName}}</nb-checkbox>
                  </nb-list-item>
                </nb-list>
                <input type=text name="Use_Cases" [(ngModel)]="Use_Cases" hidden>

              </nb-card-body>
            </nb-card>

          </div>

          <div class="column">
            <nb-card>
              <nb-card-header>Goal Access</nb-card-header>
              <nb-card-body>
                <nb-list *ngIf="Goals">

                  <nb-list-item *ngFor="let g of Goals"  >
                    <nb-checkbox status="primary"   name="checkGoal"  #checkGoal="ngModel"  [(ngModel)]="g.isChecked" (change)="changeSelection()" >{{g.GoalName}}</nb-checkbox>

                  </nb-list-item>
                </nb-list>
                <input type=text name="Goal_Access" [(ngModel)]="Goal_Access" hidden >
              </nb-card-body>
            </nb-card>

          </div>
          </div>
          <input type="text"  required type="text" name="OrgIndivPosID" ngModel #OrgIndivPosID="ngModel"  nbInput id="OrgIndivPosID" hidden [(ngModel)]="oip.OrgIndivPosID" >

            </nb-card-body>

            <nb-card-footer>
            <button nbButton type="submit"  [disabled]= "updatedOrgIndivPos.invalid"  status="basic">Submit</button>
            <button type="button"  nbButton (click)="open()" status="basic">Cancel</button>
          </nb-card-footer>


          </nb-card>
        </form></nb-layout-column>
</nb-layout>