<nb-layout>
    
    <!-- nav bar start -->
    <nb-layout-header fixed>
        <a href="#" (click)="toggle()"><i class="nb-menu"><nb-icon icon="menu-outline" [options]="{ animation: { type: 'pulse' } }"></nb-icon></i></a>
        <div class="header-container">
        <nb-actions size="medium"  >
           <nb-action icon="email-outline"
                     
                     title="Invitations"
                     link="/ViewInvitation"
                     >
          </nb-action>
          <nb-action icon="message-circle-outline"
                     title="Announcements"
                     link="/ViewAnnouncement">
          </nb-action>
          <nb-action id="user">
            <nb-user name="John Doe" title="Engineer"></nb-user>
          </nb-action>
          <nb-action>
              <button type="button" nbButton class="btn btn-info" (click)="Logout()">Logout</button>
          </nb-action>
         </nb-actions>
        </div>
  
  
      </nb-layout-header>
  
      <nb-sidebar state="compacted">
              <nb-menu [items]="items"></nb-menu>
      </nb-sidebar>
  
      <!-- nav bar end -->
    <nb-layout-column class="colored-column-basic">
        <nb-card>
            <form [formGroup]="assignLeader">
                <nb-card-header>
                    <b>Assign Leader to Member</b>
                </nb-card-header><br><br>
                <nb-card-body>
                    <nb-form-field>
                        <input type="text" nbInput placeholder="Search">
                        <button nbButton (click)="showErrorToast('top-right', 'danger')"><nb-icon nbPrefix icon="search-outline" pack="eva"></nb-icon></button>
                    </nb-form-field><br><br><br>
                    <table>
                        <tr>
                            <th style="text-align: center;">Name</th>
                            <th style="text-align: center;">Surname</th>
                            <th style="text-align: center;">Assigned Leader</th>
                        </tr>
                        <tr *ngFor="let member of orgstructpos">
                            <td>{{member.Name}}</td>
                            <td>{{member.Surname}}</td>
                            <!--The leader in the dropdown should be found based on their position and the leader name should be displayed-->
                            <td>
                                <nb-select placeholder="Leader Name" formControlName="OrgStructID" fullWidth> 
                                    <nb-option *ngFor="let leaderpos of structpos" [value]="leaderpos.OrgStructID" (click)="onSubmit(leaderpos)"> {{leaderpos.Name}} - {{leaderpos.Description}}</nb-option>
                                </nb-select>
                            </td>
                        </tr>
                    
                    </table>
                    <br>
                    <button nbButton style="float: right;" type="submit">Confirm</button>
                    <button nbButton style="float: right;" routerLink="/Members">Cancel</button>
                </nb-card-body>
            </form>
            

        </nb-card>
    
    </nb-layout-column>
</nb-layout>


