<ion-header>
  <ion-toolbar color="primary">
    <ion-button slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-button>  
    <ion-button slot="end" routerLink="/view-announcement">
      <ion-icon name="notifications-outline" size="medium" ></ion-icon>
    </ion-button>
    <ion-button slot="end" routerLink="/view-invitation">
      <ion-icon name="mail-unread-outline" size="medium" ></ion-icon>
    </ion-button>
  </ion-toolbar><br>
  <ion-toolbar>
    <ion-title slot="start" size="medium" color="primary">Follow-up on Salvation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>  
  <ion-item>
    <ion-icon name="trending-up-outline" slot="start"></ion-icon>
    <ion-label>Progress</ion-label>
    <ion-button fill="outline" slot="end" (click)="Check()">View</ion-button>
  </ion-item>
  <div *ngIf="ProgressCheck">
  <ion-item>
    <ion-label>Total:</ion-label>
    <ion-badge color="danger" slot="end">120</ion-badge>
  </ion-item>
  <ion-item>
    <ion-label>Completed:</ion-label>
    <ion-badge color="success" slot="end">96</ion-badge>
  </ion-item>
  <ion-item>
    <ion-label>Remaining:</ion-label>
    <ion-badge color="warning" slot="end">24</ion-badge>
  </ion-item>
</div>
  <br>
  <ion-item>
    <ion-label>Follow-ups remaining:</ion-label>
  </ion-item>
  
<ion-list>
  <ion-item-sliding>
    <ion-item-options side="start">
      <ion-item-option color="success" expandable>
        Call
      </ion-item-option>
    </ion-item-options>

    <ion-item>
      <ion-icon name="person-outline" slot="start"></ion-icon>
      <ion-label>Charl-Christiaan Swartz<br>
      Age: 22<br>
      Date: 2020-05-10<br>
      Address: 154 roundthe Corner<br> ave, Hatfield, Pretoria</ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>

    <ion-item-options side="end">
      <ion-item-option color="tertiary" expandable>
        Completed
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

</ion-list>

</ion-content>
