
<nb-layout>
    
    <!-- nav bar start -->
    <nb-layout-header fixed>
        <a href="#" (click)="toggle()"><i class="nb-menu"><nb-icon icon="menu-outline" [options]="{ animation: { type: 'pulse' } }"></nb-icon></i></a>
        <div class="header-container">
        <nb-actions size="medium"  >
           <nb-action icon="email-outline"
                     
                     title="Invitations"
                     link="/ViewInvitation"
                     >
          </nb-action>
          <nb-action icon="message-circle-outline"
                     title="Announcements"
                     link="/ViewAnnouncement">
          </nb-action>
          <nb-action id="user">
            <nb-user name="John Doe" title="Engineer"></nb-user>
          </nb-action>
          <nb-action>
              <button type="button" nbButton class="btn btn-info" (click)="Logout()">Logout</button>
          </nb-action>
         </nb-actions>
        </div>
  
  
      </nb-layout-header>
  
      <nb-sidebar state="compacted">
              <nb-menu [items]="items"></nb-menu>
      </nb-sidebar>
  
      <!-- nav bar end -->
      <nb-layout-column class="colored-column-basic">

     <form [formGroup]="GroupType" >
        <h1 style="text-align: center;">Groups</h1>
        <div class="row">
            <div class="left">
                <button nbButton style="margin: 15px;" routerLink="/AddGroupType">Add Group</button>
            </div>
        </div>
        <br>
        <table class ="table">
            <thead>
                <tr>
                    <th>Group ID</th>
                    <th>Group Name</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody *ngFor="let grouptype of GroupType">
                <tr>
                    <td>{{grouptype.GroupTypeID}}</td>
                    <td>{{grouptype.GroupTypeName}}</td>
                    <td ><button nbButton ghost status="basic" size="large"><nb-icon icon="edit-2-outline" routerLink="/UpdateGroupType/{{grouptype.GroupTypeID}}" [options]="{ animation: { type: 'pulse' } }"></nb-icon></button></td>
                    <td ><button nbButton ghost status="basic" type="button" size="large"><nb-icon icon="trash-2-outline" (click)="onDelete(grouptype)" [options]="{ animation: { type: 'pulse' } }"></nb-icon></button></td>
                </tr>
            </tbody>
        </table>
    </form></nb-layout-column>
    </nb-layout>
    