<nb-layout>
  
    <!-- nav bar start -->
    <nb-layout-header fixed>
      <a href="#" (click)="toggle()"><i class="nb-menu"><nb-icon icon="menu-outline" [options]="{ animation: { type: 'pulse' } }"></nb-icon></i></a>
      <div class="header-container">
      <nb-actions size="medium"  >
         <nb-action icon="email-outline"
                   
                   title="Invitations"
                   link="/ViewInvitation"
                   >
        </nb-action>
        <nb-action icon="message-circle-outline"
                   title="Announcements"
                   link="/ViewAnnouncement">
        </nb-action>
        <nb-action id="user">
          <nb-user name="John Doe" title="Engineer"></nb-user>
        </nb-action>
        <nb-action>
            <button type="button" nbButton class="btn btn-info" (click)="Logout()">Logout</button>
        </nb-action>
       </nb-actions>
      </div>


    </nb-layout-header>

    <nb-sidebar state="compacted">
            <nb-menu [items]="items"></nb-menu>
    </nb-sidebar>

    <!-- nav bar end -->
    <nb-layout-column class="colored-column-basic">

  <nb-card>
  <nb-card-header>Follow-Up on Members wanting to serve</nb-card-header>
  <nb-card-body>
    <table style="border: white;">
      <tbody>
        <tr>
          <td style="width: 450px;">
            <img src="assets/PieData.png">
          </td>
          <td>
            <label style="margin-left: 200px;">Total Number of Follow-ups: 120</label><br><br>
            <label style="margin-left: 200px;">Completed Number of Follow-ups: 96</label><br><br>
            <label style="margin-left: 200px;">Number of follow-ups remaining: 24</label><br><br>
            <p style="margin-left: 200px;"><nb-progress-bar [value]="80" status="success" style="width: 450px;" [displayValue]="true"> - Completed</nb-progress-bar></p>
          </td>
        </tr>
      </tbody>
    </table>
</nb-card-body>
</nb-card>
  <nb-card>
    <nb-card-body>

      <table>
        <tr> 
          <th>Completion</th>
          <th>Date</th>
          <th>Name & Surname</th>
          <th>Number</th>
          <th>Email</th>
          <th>Zone Pastor</th>
          <th>Homecell</th>
          <th>Spiritual Gift Test Session</th>
          <th>Highest Spiritual Gifts</th>
          <th>Groups Interested</th>
          <th>Comment</th>
        </tr>
        <tr *ngFor="let member of MemberServe">
          <td>
              <nb-accordion>
               <nb-accordion-item>
              <nb-accordion-item-header>Follow-up</nb-accordion-item-header>
              <nb-accordion-item-body>
                  <td style="text-align: center;"><button nbButton size="small" (click)="FollowedUp(member)" >Completed<nb-icon icon="checkmark-outline"></nb-icon></button></td>
              </nb-accordion-item-body>
              <nb-accordion-item-body>
                <td style="text-align: center;"><button nbButton style="width: 125px "size="small" >Assign<nb-icon icon="person-done-outline"></nb-icon></button></td>
            </nb-accordion-item-body>
              <nb-accordion-item-body>
                  <td style="text-align: center;"><button nbButton size="small" (click)="NoAnswer(member)">No Answer<nb-icon icon="close-outline"></nb-icon></button></td>
              </nb-accordion-item-body>
             </nb-accordion-item>
            </nb-accordion>
          </td>
          <td>{{member.FollowUpDate}}</td>
          <td>{{member.PersonName}} {{member.PersonSurname}}</td>
          <td>{{member.PersonNumber}}</td>
          <td>{{member.PersonEmail}}</td>
          <td>{{member.ZonePastor}}</td>
          <td>{{member.Homecell}}</td>
          <td>{{member.SpiritualGiftTestSession}}</td>
          <td>{{member.HighestSpiritualGifts}}</td>
          <td>   <nb-accordion>
              <nb-accordion-item>
             <nb-accordion-item-header>View</nb-accordion-item-header>
             <nb-accordion-item-body>
              <label>{{member.Group1}}</label>
             </nb-accordion-item-body>
             <nb-accordion-item-body>
              <label>{{member.Group2}}</label>
             </nb-accordion-item-body>
             <nb-accordion-item-body>
              <label>{{member.Group3}}</label>
             </nb-accordion-item-body>
            </nb-accordion-item>
           </nb-accordion>
         </td>
        <td>{{member.Comment}}</td>
        </tr>
      </table>
    </nb-card-body>
  </nb-card></nb-layout-column>
</nb-layout>