<nb-layout>

    
    <!-- nav bar start -->
    <nb-layout-header fixed>
        <a href="#" (click)="toggle()"><i class="nb-menu"><nb-icon icon="menu-outline" [options]="{ animation: { type: 'pulse' } }"></nb-icon></i></a>
        <div class="header-container">
        <nb-actions size="medium"  >
           <nb-action icon="email-outline"
                     
                     title="Invitations"
                     link="/ViewInvitation"
                     >
          </nb-action>
          <nb-action icon="message-circle-outline"
                     title="Announcements"
                     link="/ViewAnnouncement">
          </nb-action>
          <nb-action id="user">
            <nb-user name="John Doe" title="Engineer"></nb-user>
          </nb-action>
          <nb-action>
              <button type="button" nbButton class="btn btn-info" (click)="Logout()">Logout</button>
          </nb-action>
         </nb-actions>
        </div>
  
  
      </nb-layout-header>
  
      <nb-sidebar state="compacted">
              <nb-menu [items]="items"></nb-menu>
      </nb-sidebar>
  
      <!-- nav bar end -->
      <nb-layout-column class="colored-column-basic">
        <form #ReportZoneGrowth="ngForm" class="form-group" (ngSubmit)="AddZGform(ReportZoneGrowth.value)">
            <nb-card>
                <nb-card-header>
                    <h1>Report on Zone Growth</h1>
                </nb-card-header>
                <nb-card-body>
                    <label style="margin-right: 250px;">Date:</label>
                    <input type="date"nbInput  shape="rectangle" name="Date" ngModel #Date="ngModel"  required><br><br>
        
                    <div *ngIf="Date.invalid && (Date.dirty || Date.touched)"
                        style="color:tomato; float: right">
                        <div *ngIf="Date.errors.required">
                            *Date is required.
                        </div>
                    </div>
        
                    <label style="margin-right: 200px;">Description:</label>
                    <input type="text" style="width: 200px;" nbInput  shape="rectangle" name="Description" ngModel #Description="ngModel" minlength="2" required><br><br>
                    
                    <div *ngIf="Description.invalid && (Description.dirty || Description.touched)"
                        style="color:tomato; float: right">
                        <div *ngIf="Description.errors.required">
                            *Description is required.
                        </div>
                        <div *ngIf="Description.errors.minlength"> 
                            *Description must be full
                        </div>
                    </div>
        
                    <label style="margin-right: 200px;">Members:</label>
                    <input nbInput type="text" style="width: 200px; margin:1em;" shape="rectangle" name="Member" ngModel #Member="ngModel" required><br>
        
                    <div *ngIf="Member.invalid && (Member.dirty || Member.touched)"
                        style="color:tomato; float: right">
                        <div *ngIf="Member.errors.required">
                            *Member is required.
                        </div>
                    </div>
                    
                    <label style="margin-right: 215px;">Attendace:</label>
                    <input type="number" style="width: 100px;" nbInput  shape="rectangle" placeholder="eg. 1" name="Attendance" ngModel #Attendance="ngModel"  required><br><br>
        
                    <div *ngIf="Attendance.invalid && (Attendance.dirty || Attendance.touched)"
                        style="color:tomato; float: right">
                        <div *ngIf="Attendance.errors.required">
                            *Attendance is required.
                        </div>
                        <div *ngIf="Attendance.errors.minlength"> 
                            *Attendance must be full
                        </div>
                    </div>
        
                    <label style="margin-right: 60px;">Organizational individual Position:</label>
                    <input type="number" style="width: 100px;" nbInput  shape="rectangle" placeholder="eg. 1"name="OrgIndivPosID" ngModel #OrgIndivPosID="ngModel"  required><br><br>
                    
                    <div *ngIf="OrgIndivPosID.invalid && (OrgIndivPosID.dirty || OrgIndivPosID.touched)"
                        style="color:tomato; float: right">
                        <div *ngIf="Description.errors.required">
                            *OrgIndivPosID is required.
                        </div>
                        <div *ngIf="OrgIndivPosID.errors.minlength"> 
                            *OrgIndivPosID must be full
                        </div>
                    </div>
        
                    <label style="margin-right: 140px;">Zone Growth Goal ID</label>
                    <input type="number" style="width: 100px;" nbInput  shape="rectangle" placeholder="eg. 1"name="ZoneGrowthGoalID" ngModel #ZoneGrowthGoalID="ngModel"  required><br><br>
                  
                    <div *ngIf="ZoneGrowthGoalID.invalid && (ZoneGrowthGoalID.dirty || ZoneGrowthGoalID.touched)"
                        style="color:tomato; float: right">
                        <div *ngIf="ZoneGrowthGoalID.errors.required">
                            *ZoneGrowthGoalID is required.
                        </div>
                        <div *ngIf="ZoneGrowthGoalID.errors.minlength"> 
                            *ZoneGrowthGoalID must be full
                        </div>
                    </div>
        
                </nb-card-body>
                <nb-card-footer>
                    <button  nbButton  style="margin-right: 5px;">Submit</button>
                    <button nbButton type="button" style="margin-right: 5px;">Back</button>
                </nb-card-footer>
            </nb-card>
        </form>
        
        
</nb-layout-column>
</nb-layout>