<nb-layout>
    
    <!-- nav bar start -->
    <nb-layout-header fixed>
        <a href="#" (click)="toggle()"><i class="nb-menu"><nb-icon icon="menu-outline" [options]="{ animation: { type: 'pulse' } }"></nb-icon></i></a>
        <div class="header-container">
        <nb-actions size="medium"  >
           <nb-action icon="email-outline"
                     
                     title="Invitations"
                     link="/ViewInvitation"
                     >
          </nb-action>
          <nb-action icon="message-circle-outline"
                     title="Announcements"
                     link="/ViewAnnouncement">
          </nb-action>
          <nb-action id="user">
            <nb-user name="John Doe" title="Engineer"></nb-user>
          </nb-action>
          <nb-action>
              <button type="button" nbButton class="btn btn-info" (click)="Logout()">Logout</button>
          </nb-action>
         </nb-actions>
        </div>
  
  
      </nb-layout-header>
  
      <nb-sidebar state="compacted">
              <nb-menu [items]="items"></nb-menu>
      </nb-sidebar>
  
      <!-- nav bar end -->
      <nb-layout-column class="colored-column-basic">
        <form #CounsellingRequest="ngForm" class="form-group" (ngSubmit)="AddCounsellingForm(CounsellingRequest.value)">
            <nb-card>
                <nb-card-header>
                    <h1>Add your counselling Request</h1>
                </nb-card-header>
        
                <nb-card-body>
        
                    <label style="margin-right: 215px;">Counselling Description:</label>
                    <input required nbInput id="CounsellingDescription" name="CounsellingDescription" type="text" style="width: 200px; margin:1em;" shape="rectangle" ngModel #CounsellingDescription="ngModel" minlength="10">
        
                    <div *ngIf="CounsellingDescription.invalid && (CounsellingDescription.dirty || CounsellingDescription.touched)"
                        style="color:tomato;float: right">
                        <div *ngIf="CounsellingDescription.errors.required">
                            *Counselling Description is required.
                        </div>
                        <div *ngIf="CounsellingDescription.errors.minlength"> 
                            *Must have a full description
                        </div>
                    </div>
                    
                </nb-card-body>
        
                <nb-card-footer>
                    <button nbButton style="margin: 15px;">Submit</button><button nbButton type="button" style="margin: 15px;" routerLink="/ViewCounselling">Back</button>
                </nb-card-footer>
            </nb-card>
        </form>
        

    </nb-layout-column>
</nb-layout>