<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" color="primary">
      <ion-toolbar color="primary"> 
        <ion-avatar slot="start" style="margin:0.5rem">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <h3> At Bossof </h3>
    </ion-toolbar>
      <ion-content>
        <ion-list id="inbox-list" >
       <div *ngFor="let p of appPages; let i = index">
          <ion-menu-toggle *ngIf="p.url" >
            <ion-item   routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false"  routerLinkActive="active">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>

              <ion-item button  *ngIf ="p.children?.length > 0" lines="none" (click)="p.open = !p.open" [class.active-parent]="p.open" detail="false">
                <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
         <ion-list *ngIf="p.open">
          <ion-menu-toggle  >
            <ion-item class="sub-item" *ngFor="let sub of p.children; let i = index"   routerDirection="root" [routerLink]="[sub.url]" lines="none" detail="false"  routerLinkActive="active">
              <ion-icon slot="start" [ios]="sub.icon + '-outline'" [md]="sub.icon + '-sharp'"></ion-icon>
              <ion-label>{{ sub.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
         </ion-list>
          
        </div>
        </ion-list>
<!--  -->
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>

