<ion-header>
  <ion-toolbar color="primary">
    <ion-button slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-button>  
    <ion-button slot="end" routerLink="/view-announcement">
      <ion-icon name="notifications-outline" size="medium" ></ion-icon>
    </ion-button>
    <ion-button slot="end" routerLink="/view-invitation">
      <ion-icon name="mail-unread-outline" size="medium" ></ion-icon>
    </ion-button>
  </ion-toolbar><br>
  <ion-toolbar>
    <ion-title slot="start" size="medium" color="primary">Kids Church Check-in</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <ion-item>
    <ion-icon name="home-outline" slot="start"></ion-icon>
    <ion-label> Kids Church: CRC Main</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon name="calendar-outline" slot="start" ></ion-icon>
    <ion-label> Date: 2020-05-16, 8:15 Am</ion-label>
  </ion-item>
  <br>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Child check-in</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-checkbox checked="true"></ion-checkbox>
          <ion-label style="margin-left: 0.5em">Jana Anderson <br> Group: Teen</ion-label>
        </ion-item>
        <ion-item>
          <ion-checkbox checked="true"></ion-checkbox>
          <ion-label style="margin-left: 0.5em">Josh Anderson <br> Group: Teen</ion-label>
        </ion-item>
      </ion-list><br>
      <ion-button expand="block" color="primary" (click)="presentLoading()">Check-in</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
