<ion-header>
  <!-- NB Menu button start -->
  <ion-toolbar color="primary">
    <ion-button slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-button>   
 
      <ion-thumbnail style="margin-left:45%; " >
        <ion-img  src="https://jpitwebdev.co.za/crc/wp-content/uploads/2019/11/crc-logo-menu-retina-white.png"></ion-img>
      </ion-thumbnail>
      
    <ion-button slot="end" routerLink="/view-announcement">
      <ion-icon name="notifications-outline" size="medium" ></ion-icon>
    </ion-button>
    <ion-button slot="end" routerLink="/view-invitation">
      <ion-icon name="mail-unread-outline" size="medium" ></ion-icon>
    </ion-button>
  <!-- Menu button end -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title style="text-align: center; margin: 0.5em" color="primary">Post Announcement</ion-title>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Confirm Recipients</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let p of Persons">   
          <ion-item>     
          <ion-checkbox checked="true"></ion-checkbox>
          <ion-label style="margin-left: 0.5em">{{ p.text }}</ion-label>
        </ion-item>  
        </ion-item>
      </ion-list>
      <ion-button expand="block" color="primary">Next</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Write Announcement</ion-card-title>
    </ion-card-header>
    <ion-item>
      <ion-textarea placeholder="Enter message here..."></ion-textarea>
    </ion-item>
    <ion-button expand="block" color="primary">Next</ion-button>

  </ion-card>

  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Confirm Announcement</ion-card-title>
    </ion-card-header>

    <ion-item> 
      <ion-text color="danger">
      <h5>Are you sure you want to send this message?</h5>      
    </ion-text>
  </ion-item>
  <ion-item>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </ion-item> 
    
    <ion-item>
      <ion-label>Confirm</ion-label>
      <ion-checkbox slot="start"></ion-checkbox>
    </ion-item>
      <ion-button expand="block" color="primary"><ion-icon name="paper-plane-outline"></ion-icon>Send</ion-button>
    </ion-card>
</ion-content>
