<nb-layout>
  
    <!-- nav bar start -->
    <nb-layout-header fixed>
      <a href="#" (click)="toggle()"><i class="nb-menu"><nb-icon icon="menu-outline" [options]="{ animation: { type: 'pulse' } }"></nb-icon></i></a>
      <div class="header-container">
      <nb-actions size="medium"  >
         <nb-action icon="email-outline"
                   
                   title="Invitations"
                   link="/ViewInvitation"
                   >
        </nb-action>
        <nb-action icon="message-circle-outline"
                   title="Announcements"
                   link="/ViewAnnouncement">
        </nb-action>
        <nb-action id="user">
          <nb-user name="John Doe" title="Engineer"></nb-user>
        </nb-action>
        <nb-action>
            <button type="button" nbButton class="btn btn-info" (click)="Logout()">Logout</button>
        </nb-action>
       </nb-actions>
      </div>


    </nb-layout-header>

    <nb-sidebar state="compacted">
            <nb-menu [items]="items"></nb-menu>
    </nb-sidebar>

    <!-- nav bar end -->
    <nb-layout-column class="colored-column-basic">
<nb-card>
    <nb-card-header>
      <h1>Homecell Notes</h1>
    </nb-card-header>
  <nb-card-body>
      <button style="background-color: transparent; border:none;float: right; color: white;"><nb-icon icon="funnel-outline" ></nb-icon> Filter</button>
      <br>
      <div>
          <label style="margin-right: 10px;">From:</label><input type="date" nbInput  shape="rectangle" placeholder="Rectangle" style="margin-right: 10px;">
          <label style="margin-right: 10px;">To:</label><input type="date" nbInput  shape="rectangle" placeholder="Rectangle" style="margin-right: 10px;">
      </div>
      <br><br>
      
      <table class="table">
          <thead>
              <tr>
                <th><nb-icon icon="trash-2-outline"></nb-icon></th>
                  <th>Date</th>
                  <th>File Name</th>
                  <th>Download</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                <td><nb-icon icon="trash-2-outline"></nb-icon></td>
                  <td>2020-05-10</td>
                  <td><nb-icon icon="file-text-outline"></nb-icon> HCNotes_20200510.pdf</td>
                  <td > <nb-icon icon="download-outline"></nb-icon></td>
              </tr>
              <tr>
                <td><nb-icon icon="trash-2-outline"></nb-icon></td>
                  <td>2020-05-16</td>
                  <td><nb-icon icon="file-text-outline"></nb-icon> HCNotes_20200516.pdf</td>
                  <td ><nb-icon icon="download-outline"></nb-icon></td>
              </tr>
          </tbody>
      </table>
      <div style="float: right;">
      <button class="next-button" nbButton style="margin-right: 5px;" >Delete</button><button class="next-button" nbButton routerLink="/HomecellNotesAdd">Upload</button>
  </div>
  </nb-card-body>
</nb-card></nb-layout-column>
</nb-layout>