<nb-layout>


  
    <!-- nav bar start -->
    <nb-layout-header fixed>
      <a href="#" (click)="toggle()"><i class="nb-menu"><nb-icon icon="menu-outline" [options]="{ animation: { type: 'pulse' } }"></nb-icon></i></a>
      <div class="header-container">
      <nb-actions size="medium"  >
         <nb-action icon="email-outline"
                   
                   title="Invitations"
                   link="/ViewInvitation"
                   >
        </nb-action>
        <nb-action icon="message-circle-outline"
                   title="Announcements"
                   link="/ViewAnnouncement">
        </nb-action>
        <nb-action id="user">
          <nb-user name="John Doe" title="Engineer"></nb-user>
        </nb-action>
        <nb-action>
            <button type="button" nbButton class="btn btn-info" (click)="Logout()">Logout</button>
        </nb-action>
       </nb-actions>
      </div>


    </nb-layout-header>

    <nb-sidebar state="compacted">
            <nb-menu [items]="items"></nb-menu>
    </nb-sidebar>

    <!-- nav bar end -->
    
  
    <nb-layout-column class="colored-column-basic">
  <!-- Content on page START -->
  <nb-layout>

    <nb-layout-column class="colored-column-basic">
        <form [formGroup]="deactivate" (ngSubmit)="onClick(deactivate.value)">
      <nb-card>
        <nb-card-header>Request to deactivate </nb-card-header>
        <nb-card-body>
          
            <div class="imgcontainer">
                <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                <img src="assets/CRC(No Background).png" alt="CRC Logo" class="avatar">
            </div>
          <div style="text-align: center;">
          
            <input type="text" nbInput  ngModel name="Username" formControlName="Username"  placeholder="Username">
            <input type="password" nbInput  name="Password"  formControlName="Password"  placeholder="Password">
          </div>
        </nb-card-body>
        <nb-card-footer> 
          <div style="text-align: center;">
            <div class="logindiv"><button nbButton status="basic" type="submit">Deactivate</button>
              <button nbButton status="basic">cancel</button></div>
            </div>
            <br>
            <br>
          </nb-card-footer>
      </nb-card>
    </form>
    </nb-layout-column>
    </nb-layout>
  
  <router-outlet></router-outlet>
