<ion-header>
  <ion-toolbar>
    <ion-title>Update Person</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


<div class="body" >

    <form>
      <ion-item lines="full">
        <ion-label position="floating">Name</ion-label>
        <ion-input type="text" required></ion-input>
      </ion-item>
  <br>
      <ion-item lines="full">
        <ion-label position="floating">Surname</ion-label>
        <ion-input type="text" required></ion-input>
      </ion-item>
      <br>
      <ion-item lines="full">
        <ion-label position="floating">Cellphone Number</ion-label>
        <ion-input type="text" required></ion-input>
      </ion-item>
      <br>
      <ion-item lines="full">
        <ion-label position="floating">Email Address</ion-label>
        <ion-input type="email" required></ion-input>
      </ion-item>
      <br>
      <ion-item lines="full">
        <ion-label position="floating">Residential Address</ion-label>
        <ion-input type="text" required></ion-input>
      </ion-item>
        
      <ion-row>
        <ion-col>
          <ion-button type="submit" style="background-color:#06bebd;" expand="block" >Update</ion-button>
        </ion-col>
      
        <ion-col>
          <ion-button type="submit" style="background-color:#06bebd;"  expand="block" >Cancel</ion-button>
        </ion-col>
      </ion-row>
    </form>
</div>
</ion-content>
