 
<nb-layout>

    <!-- nav bar start -->
    <nb-layout-header fixed>
        <a href="#" (click)="toggle()"><i class="nb-menu"><nb-icon icon="menu-outline" [options]="{ animation: { type: 'pulse' } }"></nb-icon></i></a>
        <div class="header-container">
        <nb-actions size="medium"  >
           <nb-action icon="email-outline"
                     
                     title="Invitations"
                     link="/ViewInvitation"
                     >
          </nb-action>
          <nb-action icon="message-circle-outline"
                     title="Announcements"
                     link="/ViewAnnouncement">
          </nb-action>
          <nb-action id="user">
            <nb-user name="John Doe" title="Engineer"></nb-user>
          </nb-action>
          <nb-action>
              <button type="button" nbButton class="btn btn-info" (click)="Logout()">Logout</button>
          </nb-action>
         </nb-actions>
        </div>
  
  
      </nb-layout-header>
  
      <nb-sidebar state="compacted">
              <nb-menu [items]="items"></nb-menu>
      </nb-sidebar>
  
      <!-- nav bar end -->
   

    <nb-layout-column class="colored-column-basic">   
        <form [formGroup]="addGroup" (ngSubmit)="onSubmit(addGroup.value)">

        <nb-card>
                <nb-card-header>Add Group</nb-card-header>
                <nb-card-body>
                    <div>
                        <p>Please complete all the required fields</p>
                    <label>Select a group:</label>
                    <nb-select  formControlName="GroupTypeID" placeholder="Select a Group" required>
                        <nb-option *ngFor="let grouptype of grouptypes" [value]="grouptype.GroupTypeID">{{grouptype.GroupTypeName}}</nb-option>
                    </nb-select>
                    <br><br>
                    
                    <label style="margin-right: 30px;">Group Name:</label>
                    <input type="text"  formControlName="Description" nbInput placeholder="Group Name"  style="margin-right: 150px;" required>
                    <!--
                    <label style="margin-right: 23px; ">Group Leader:</label>
                    <nb-select placeholder="Select Leader" required>
                        <nb-option value="">Ndlali</nb-option>
                        <nb-option value="0">Individual</nb-option>
                    </nb-select>
                    <br><br>
                    -->
                    <br><br>
                    <label style="margin-right: 60px;">Address:</label>
                    <input type="text"  formControlName="Address" nbInput placeholder="Address"  style="margin-right: 150px;">
                    <br><br>
                    <label style="margin-right: 68px;">Suburb:</label>
                    <!-- <input type="text"  formControlName="SuburbID" nbInput placeholder="Suburb"> -->
                    <nb-select   formControlName="SuburbID" placeholder="Suburb" required>
                        <nb-option *ngFor="let s of suburbs" [value]="s.SuburbID">{{s.SuburbName}}</nb-option>
                    </nb-select>
                    <br><br>

                    <label style="margin-right: 90px;">City:</label>  
                    <nb-select   formControlName="CityID" placeholder="City" required>
                        <nb-option *ngFor="let c of cities" [value]="c.CityID">{{c.CityName}}</nb-option>
                    </nb-select>
                    <br><br>
                    <label style="margin-right: 58px;">Province:</label>
                    <nb-select   formControlName="ProvinceID" placeholder="Province" required>
                        <nb-option *ngFor="let p of provinces" [value]="p.ProvinceID">{{p.ProvinceName}}</nb-option>
                    </nb-select>
                    <br><br>
                    
                    <label style="margin-right: 63px;">Country:</label>
                    <nb-select   formControlName="CountryID" placeholder="Country" required>
                        <nb-option *ngFor="let countr of countries" [value]="countr.CountryID">{{countr.CountryName}}</nb-option>
                    </nb-select>
                    <br><br>
                    
                    <label style="margin-right: 87px;">Size:</label>
                    <input type="number"  formControlName="Size" nbInput placeholder="Members" required>
                    <br><br>
                    <button nbButton status="basic" style="margin-right: 30px;">Add Group</button>
                    <button nbButton status="basic" routerLink="/Groups">Cancel</button>
                    </div>
                </nb-card-body>
         
        </nb-card>   </form>
    </nb-layout-column>

    
<nb-layout-footer fixed>
    <img src="https://church.crc.org.za/assets/img/brand/black-with-text.png" style=" height: 30px;">
    </nb-layout-footer>
</nb-layout>



