<nb-layout>
  
    <!-- nav bar start -->
    <nb-layout-header fixed>
      <a href="#" (click)="toggle()"><i class="nb-menu"><nb-icon icon="menu-outline" [options]="{ animation: { type: 'pulse' } }"></nb-icon></i></a>
      <div class="header-container">
      <nb-actions size="medium"  >
         <nb-action icon="email-outline"
                   
                   title="Invitations"
                   link="/ViewInvitation"
                   >
        </nb-action>
        <nb-action icon="message-circle-outline"
                   title="Announcements"
                   link="/ViewAnnouncement">
        </nb-action>
        <nb-action id="user">
          <nb-user name="John Doe" title="Engineer"></nb-user>
        </nb-action>
        <nb-action>
            <button type="button" nbButton class="btn btn-info" (click)="Logout()">Logout</button>
        </nb-action>
       </nb-actions>
      </div>


    </nb-layout-header>

    <nb-sidebar state="compacted">
            <nb-menu [items]="items"></nb-menu>
    </nb-sidebar>

    <!-- nav bar end -->
    <nb-layout-column class="colored-column-basic">

<form #ChildRegistration="ngForm" (ngSubmit)="onSubmit(ChildRegistration.value)">
  <h2 style="text-align: center;">Register Child</h2>
  <nb-card>
    <nb-card-body>
      <nb-stepper orientation="horizontal" disableStepNavigation>
        <nb-step [label]="labelOne">
          <ng-template #labelOne>Select A Child</ng-template>
          <h4>Select A Child</h4>
          <nb-card>
            <nb-card-header>
              My Children
            </nb-card-header>
            <nb-list>
             <nb-list-item *ngFor="let c of myChildren; let i = index">
              <nb-radio [(ngModel)]="c.ChildID" name="selected" value="{{c.ChildID}}" (change)="onItemChange(c.value)" >{{c.Name}} {{c.Surname}}</nb-radio>
              </nb-list-item>
            </nb-list>
          </nb-card>
          <button class="prev-button" nbButton disabled nbStepperNext>prev</button>
          <button class="next-button" nbButton nbStepperNext>next</button>
        </nb-step>
        <nb-step [label]="labelTwo">
          <ng-template #labelTwo>Select a Class</ng-template>
          <h4>Select a Class</h4>
          <nb-card>
            <nb-card-header>
              Classes
            </nb-card-header>
            <nb-list>
              <nb-list-item *ngFor="let k of KidsChurchClasses">
                <nb-radio  [(ngModel)]="k.KidsChurchID" name="selecedclass" value="{{k.KidsChurchID}}" (change)="onClassChange(k.value)">{{k.KidshurchName}}</nb-radio>
              </nb-list-item>
            </nb-list>
          </nb-card>
          <button class="prev-button" nbButton nbStepperPrevious>prev</button>
          <button class="next-button" nbButton nbStepperNext>next</button>
        </nb-step>
  
        <nb-step  label="Confirm">
          <ng-template ><i class="paper-plane-outline"></i></ng-template>
          <h4>Confirm Registration</h4>
          <div>
            <p><strong>Are you sure you want to register your child?</strong></p>
            <nb-list-item style="border:0em">
              <nb-checkbox [checked]="checkbox1" (change)="checkbox1 = !checkbox1" required>Confirm</nb-checkbox>
            </nb-list-item>
  
  
          </div>
          <button class="prev-button" nbButton nbStepperPrevious>prev</button>
          <button nbButton  status="basic" [disabled]="!checkbox1">Confirm</button>
        </nb-step>
      </nb-stepper>
    </nb-card-body>
    </nb-card>
  </form></nb-layout-column>
  </nb-layout>