<nb-layout>
    
    <!-- nav bar start -->
    <nb-layout-header fixed>
        <a href="#" (click)="toggle()"><i class="nb-menu"><nb-icon icon="menu-outline" [options]="{ animation: { type: 'pulse' } }"></nb-icon></i></a>
        <div class="header-container">
        <nb-actions size="medium"  >
           <nb-action icon="email-outline"
                     
                     title="Invitations"
                     link="/ViewInvitation"
                     >
          </nb-action>
          <nb-action icon="message-circle-outline"
                     title="Announcements"
                     link="/ViewAnnouncement">
          </nb-action>
          <nb-action id="user">
            <nb-user name="John Doe" title="Engineer"></nb-user>
          </nb-action>
          <nb-action>
              <button type="button" nbButton class="btn btn-info" (click)="Logout()">Logout</button>
          </nb-action>
         </nb-actions>
        </div>
  
  
      </nb-layout-header>
  
      <nb-sidebar state="compacted">
              <nb-menu [items]="items"></nb-menu>
      </nb-sidebar>
  
      <!-- nav bar end -->
      <nb-layout-column class="colored-column-basic">

<form #ViewCounsellingType="ngForm">
    <nb-card>
        <nb-card-header>
            <h1 style="text-align: center;">Counselleing Request</h1>
        </nb-card-header>
        <nb-card-body style="align-content: center; text-align: center;" >
            

                    <!--<label style="float: left;">Counselling ID: {{CounsellingType.CounsellingRequestID}}</label>-->
                    
                
                    <label style="text-align: center;">Person ID: {{CounsellingType.PersonID}}</label>
                    
                
                    <label style="float: right;">Person Number: {{CounsellingType.PhoneNumber}}</label>
                    
                    <br>            

        </nb-card-body>
        <nb-card-body>
                <div style="text-align: center;">
                    <label>CounsellingDescription:</label><br>
                    {{CounsellingType.CounsellingDescription}}
                </div>
        </nb-card-body>
        <nb-card-footer style="align-content: center; text-align: center;">
            <button nbButton type="button" style="margin: 15px;"  routerLink="/ViewCounselling">Back</button>
        </nb-card-footer>
    </nb-card>
</form></nb-layout-column>
</nb-layout>