<nb-layout>
  
    <!-- nav bar start -->
    <nb-layout-header fixed>
      <a href="#" (click)="toggle()"><i class="nb-menu"><nb-icon icon="menu-outline" [options]="{ animation: { type: 'pulse' } }"></nb-icon></i></a>
      <div class="header-container">
      <nb-actions size="medium"  >
         <nb-action icon="email-outline"
                   
                   title="Invitations"
                   link="/ViewInvitation"
                   >
        </nb-action>
        <nb-action icon="message-circle-outline"
                   title="Announcements"
                   link="/ViewAnnouncement">
        </nb-action>
        <nb-action id="user">
          <nb-user name="John Doe" title="Engineer"></nb-user>
        </nb-action>
        <nb-action>
            <button type="button" nbButton class="btn btn-info" (click)="Logout()">Logout</button>
        </nb-action>
       </nb-actions>
      </div>


    </nb-layout-header>

    <nb-sidebar state="compacted">
            <nb-menu [items]="items"></nb-menu>
    </nb-sidebar>

    <!-- nav bar end -->
    <nb-layout-column class="colored-column-basic">

      <div *ngIf="HCAtt">
        <form [formGroup]="HomecellAttendance" (ngSubmit)="addHomecellAttGoalForm(HomecellAttendance.value)">
        <nb-card >
            <nb-card-header>
              <div style="float: left;"> <h3>Set Homecell Attendance Goal</h3></div>
            </nb-card-header>
          <nb-card-body>
              <label style="margin-right: 180px;">Date</label><input type="date" nbInput  shape="rectangle" ngModel formControlName="Date"><br><br>
              <label style="margin-right: 135px;">Overseer</label><nb-select placeholder="Select Overseer" ngModel formControlName="Overseer">
                  <nb-option value="1">Lali</nb-option>
                  
                </nb-select><br><br>
            <label style="margin-right: 250px;">Leaders</label><input type="number" style="width: 100px;" nbInput  shape="rectangle" placeholder="eg. 1" ngModel formControlName="Leaders"><br><br>
            <label style="margin-right: 242px;">Members</label><input type="number" style="width: 100px;" nbInput  shape="rectangle" placeholder="eg. 1" ngModel formControlName="Members"><br><br>
            <label style="margin-right: 255px;">Visitors</label><input type="number" style="width: 100px;" nbInput  shape="rectangle" placeholder="eg. 1" ngModel formControlName="Visitors"><br><br>
            <label style="margin-right: 185px;">First Time Visitors</label><input type="number" style="width: 100px;" nbInput  shape="rectangle" placeholder="eg. 1" ngModel formControlName="FirstTimeVisitors"><br><br>
            <label style="margin-right: 235px;">Salvations</label><input type="number" style="width: 100px;" nbInput  shape="rectangle" placeholder="eg. 1" ngModel formControlName="Salvations"><br><br>
            <div style="width: 405px;">
              <label>Description</label><br><br><textarea nbInput fullWidth ngModel formControlName="Description"></textarea><br><br>
            </div>
          <div style="margin-left: 255px;">
          <button class="next-button" nbButton style="margin-right: 5px;" >Back</button><button class="next-button" nbButton (click)="SuccessMessage('top-right','success');">Set</button>
        </div><br>
        </nb-card-body>
        </nb-card>
        </form>
        </div>
        
        <div *ngIf="setZoneChurchAttendance">
        <form [formGroup]="ZoneChurchAttendance" (ngSubmit)="addZoneChruchAttGoalForm(ZoneChurchAttendance.value)">
        <nb-card >
          <nb-card-header>
            <div style="float: left;"> <h3>Set Zone Church Attendance Goal</h3></div>
          </nb-card-header>
          <nb-card-body>
            <label style="margin-right: 180px;">Date</label><input type="date" nbInput  shape="rectangle" ngModel formControlName="Date"><br><br>
            <label style="margin-right: 135px;">Overseer</label><nb-select placeholder="Select Overseer" ngModel formControlName="Overseer">
                <nb-option value="1">Lali</nb-option>
                
              </nb-select><br><br>
          <label style="margin-right: 250px;">Leaders</label><input type="number" style="width: 100px;" nbInput  shape="rectangle" placeholder="eg. 1" ngModel formControlName="Leader"><br><br>
          <label style="margin-right: 242px;">Members</label><input type="number" style="width: 100px;" nbInput  shape="rectangle" placeholder="eg. 1" ngModel formControlName="Member"><br><br>
          <label style="margin-right: 255px;">Visitors</label><input type="number" style="width: 100px;" nbInput  shape="rectangle" placeholder="eg. 1" ngModel formControlName="Visitors"><br><br>
          <label style="margin-right: 185px;">First Time Visitors</label><input type="number" style="width: 100px;" nbInput  shape="rectangle" placeholder="eg. 1" ngModel formControlName="FirstTimeVisitors"><br><br>
          <label style="margin-right: 235px;">Salvations</label><input type="number" style="width: 100px;" nbInput  shape="rectangle" placeholder="eg. 1" ngModel formControlName="Date" ngModel formControlName="Salvations"><br><br>
          <div style="width: 405px;">
            <label>Description</label><br><br><textarea nbInput fullWidth ngModel formControlName="Description"></textarea><br><br>
          </div>
        <div style="margin-left: 255px;">
        <button class="next-button" nbButton style="margin-right: 5px;" >Back</button><button class="next-button" nbButton (click)="SuccessMessage('top-right','success');">Set</button>
        </div><br>
        </nb-card-body>
        </nb-card>
        </form>
        </div>
        
        <div *ngIf="CAtt">
        <form [formGroup]="ChurchAttendance" (ngSubmit)="addChurchAttGoalForm(ChurchAttendance.value)">
        <nb-card >
          <nb-card-header>
            <div style="float: left;"> <h3>Set Church Attendance Goal</h3></div>
          </nb-card-header>
        <nb-card-body>
          <label style="margin-right: 180px;">Date</label><input type="date"nbInput  shape="rectangle" ngModel formControlName="Date"><br><br>
          <label style="margin-right: 135px;">Overseer</label><nb-select placeholder="Select Overseer" ngModel formControlName="Overseer">
              <nb-option value="1">Lali</nb-option>
              
            </nb-select><br><br>
              <label style="margin-right: 250px;">Leaders</label><input type="number" style="width: 100px;" nbInput  shape="rectangle" placeholder="eg. 1" ngModel formControlName="Leader"><br><br>
          <label style="margin-right: 242px;">Members</label><input type="number" style="width: 100px;" nbInput  shape="rectangle" placeholder="eg. 1" ngModel formControlName="Member"><br><br>
          <label style="margin-right: 255px;">Visitors</label><input type="number" style="width: 100px;" nbInput  shape="rectangle" placeholder="eg. 1" ngModel formControlName="Visitors"><br><br>
          <label style="margin-right: 185px;">First Time Visitors</label><input type="number" style="width: 100px;" nbInput  shape="rectangle" placeholder="eg. 1" ngModel formControlName="FirstTimeVisitors"><br><br>
          <label style="margin-right: 235px;">Salvations</label><input type="number" style="width: 100px;" nbInput  shape="rectangle" placeholder="eg. 1" ngModel formControlName="Date" ngModel formControlName="Salvations"><br><br>
          <div style="width: 405px;">
            <label>Description</label><br><br><textarea nbInput fullWidth ngModel formControlName="Description"></textarea><br><br>
          </div>
        <div style="margin-left: 255px;">
        <button class="next-button" nbButton style="margin-right: 5px;" >Back</button><button class="next-button" nbButton (click)="SuccessMessage('top-right','success');">Set</button>
        </div><br>
        </nb-card-body>
        </nb-card>
        </form>
        </div>
        
        <div *ngIf="ZHCAtt">
        <form [formGroup]="ZoneHomecellAttendance" (ngSubmit)="addZoneHomecellAttendanceGoalForm(ZoneHomecellAttendance.value)">
        <nb-card >
          <nb-card-header>
            <div style="float: left;"> <h3>Set Zone Homecell Attendance Goal</h3></div>
          </nb-card-header>
        <nb-card-body>
            <label style="margin-right: 180px;">Date</label><input type="date"nbInput  shape="rectangle" ngModel formControlName="Date"><br><br>
            <label style="margin-right: 135px;">Overseer</label><nb-select placeholder="Select Overseer" ngModel formControlName="Overseer">
                <nb-option value="1">Lali</nb-option>
                
              </nb-select><br><br>
              <label style="margin-right: 250px;">Leaders</label><input type="number" style="width: 100px;" nbInput  shape="rectangle" placeholder="eg. 1" ngModel formControlName="Leaders"><br><br>
              <label style="margin-right: 242px;">Members</label><input type="number" style="width: 100px;" nbInput  shape="rectangle" placeholder="eg. 1" ngModel formControlName="Members"><br><br>
              <label style="margin-right: 255px;">Visitors</label><input type="number" style="width: 100px;" nbInput  shape="rectangle" placeholder="eg. 1" ngModel formControlName="Visitors"><br><br>
              <label style="margin-right: 185px;">First Time Visitors</label><input type="number" style="width: 100px;" nbInput  shape="rectangle" placeholder="eg. 1" ngModel formControlName="FirstTimeVisitors"><br><br>
              <label style="margin-right: 235px;">Salvations</label><input type="number" style="width: 100px;" nbInput  shape="rectangle" placeholder="eg. 1" ngModel formControlName="Date" ngModel formControlName="Salvations"><br><br>
              <div style="width: 405px;">
                <label>Description</label><br><br><textarea nbInput fullWidth ngModel formControlName="Description"></textarea><br><br>
              </div>
            <div style="margin-left: 255px;">
            <button class="next-button" nbButton style="margin-right: 5px;" >Back</button><button class="next-button" nbButton (click)="SuccessMessage('top-right','success');">Set</button>
            </div><br>
            </nb-card-body>
            </nb-card>
            </form>
        </div>
        
        <div *ngIf="setNewMemberOrientation">
        <form [formGroup]="NewMemberOrientation" (ngSubmit)="addNewMemberOrientationGoalForm(NewMemberOrientation.value)">
        <nb-card >
          <nb-card-header>
            <div style="float: left;"> <h3>Set New Member Orientation Goal</h3></div>
          </nb-card-header>
        <nb-card-body>
            <label style="margin-right: 180px;">Date</label><input type="date"nbInput  shape="rectangle" ngModel formControlName="Date"><br><br>
            <label style="margin-right: 135px;">Overseer</label><nb-select placeholder="Select Overseer" ngModel formControlName="Overseer">
                <nb-option value="1">Lali</nb-option>
                
              </nb-select><br><br>
          <label style="margin-right: 215px;">Monthly Total</label><input type="number" style="width: 100px;" nbInput  shape="rectangle" placeholder="eg. 1" ngModel formControlName="MonthTotal"><br><br>
          <div style="margin-left: 255px;">
          <button class="next-button" nbButton style="margin-right: 5px;"  >Back</button><button class="next-button" nbButton (click)="SuccessMessage('top-right','success');">Set</button>
        </div><br>
        </nb-card-body>
        </nb-card>
        </form>
        </div>
        
        <div *ngIf="setDiscipleship">
        <form [formGroup]="Discipleship" (ngSubmit)="addDiscipleshipGoalForm(Discipleship.value)">
        <nb-card >
          <nb-card-header>
            <div style="float: left;"> <h3>Set Discipleship Goal</h3></div>
          </nb-card-header>
        <nb-card-body>
            <label style="margin-right: 180px;">Date</label><input type="date"nbInput  shape="rectangle" ngModel formControlName="Date"><br><br>
            <label style="margin-right: 135px;">Overseer</label><nb-select placeholder="Select Overseer" ngModel formControlName="Overseer">
                <nb-option value="1">Lali</nb-option>
                
              </nb-select><br><br>
              <label style="margin-right: 115px;">Discipleship</label><nb-select placeholder="Select Type" ngModel formControlName="DiscipleshipType">
                  <nb-option *ngFor="let discipleship of discipleshipTypes" value="{{discipleship.DiscipleshipDescription}}">{{discipleship.DiscipleshipDescription}}</nb-option>
                </nb-select><br><br>
          <label style="margin-right: 225px;">Attendance</label><input type="number" style="width: 100px;" nbInput  shape="rectangle" placeholder="eg. 1" ngModel formControlName="Attendance"><br><br>
          <div style="width: 405px;">
              <label>Description</label><br><br><textarea nbInput fullWidth ngModel formControlName="Description"></textarea><br><br>
            </div>
          <div style="margin-left: 255px;">
          <button class="next-button" nbButton style="margin-right: 5px;"  >Back</button><button class="next-button" nbButton (click)="SuccessMessage('top-right','success');">Set</button>
        </div><br>
        </nb-card-body>
        </nb-card>
        </form>
        </div>
        
        <div *ngIf="setStructureGrowth">
        <form [formGroup]="StructureGrowth" (ngSubmit)="addStructureGrowthGoalForm(StructureGrowth.value)">
        <nb-card >
          <nb-card-header>
            <div style="float: left;"> <h3>Set Structure growth Goal</h3></div>
          </nb-card-header>
        <nb-card-body>
            <label style="margin-right: 180px;">Date</label><input type="date" nbInput shape="rectangle" ngModel formControlName="Date"><br><br>
            <label style="margin-right: 135px;">Overseer</label><nb-select placeholder="Select Overseer" ngModel formControlName="Overseer">
                <nb-option value="1">Lali</nb-option>
                
              </nb-select><br><br>
         <label style="margin-right: 247px;">Members</label><input type="number" style="width: 100px;" nbInput  shape="rectangle" placeholder="eg. 1" ngModel formControlName="Members"><br><br>
          <div style="width: 405px;">
              <label>Description</label><br><br><textarea nbInput fullWidth ngModel formControlName="Description"></textarea><br><br>
            </div>
          <div style="margin-left: 255px;">
          <button class="next-button" nbButton style="margin-right: 5px;"  >Back</button><button class="next-button" nbButton (click)="SuccessMessage('top-right','success');">Set</button>
        </div><br>
        </nb-card-body>
        </nb-card>
        </form>
        </div>
        
        <div *ngIf="setZoneGrowth">
        <form [formGroup]="ZoneGrowth" (ngSubmit)="addZoneGrowthGoalForm(ZoneGrowth.value)">
        <nb-card >
          <nb-card-header>
            <div style="float: left;"> <h3>Set Zone Growth Goal</h3></div>
          </nb-card-header>
        <nb-card-body>
            <label style="margin-right: 180px;">Date</label><input type="date" nbInput  shape="rectangle" ngModel formControlName="Date"><br><br>
            <label style="margin-right: 135px;">Overseer</label><nb-select placeholder="Select Overseer" ngModel formControlName="Overseer">
                <nb-option value="1">Lali</nb-option>
                
              </nb-select><br><br>
              <label style="margin-right: 247px;">Members</label><input type="number" style="width: 100px;" nbInput  shape="rectangle" placeholder="eg. 1" ngModel formControlName="Members"><br><br>
              <div style="width: 405px;">
                  <label>Description</label><br><br><textarea nbInput fullWidth ngModel formControlName="Description"></textarea><br><br>
                </div>
              <div style="margin-left: 255px;">
              <button class="next-button" nbButton style="margin-right: 5px;"  >Back</button><button class="next-button" nbButton (click)="SuccessMessage('top-right','success');">Set</button>
            </div><br>
            </nb-card-body>
            </nb-card>
            </form>
            </div>
          

    </nb-layout-column>
    </nb-layout>