<nb-layout>
    
    <!-- nav bar start -->
    <nb-layout-header fixed>
        <a href="#" (click)="toggle()"><i class="nb-menu"><nb-icon icon="menu-outline" [options]="{ animation: { type: 'pulse' } }"></nb-icon></i></a>
        <div class="header-container">
        <nb-actions size="medium"  >
           <nb-action icon="email-outline"
                     
                     title="Invitations"
                     link="/ViewInvitation"
                     >
          </nb-action>
          <nb-action icon="message-circle-outline"
                     title="Announcements"
                     link="/ViewAnnouncement">
          </nb-action>
          <nb-action id="user">
            <nb-user name="John Doe" title="Engineer"></nb-user>
          </nb-action>
          <nb-action>
              <button type="button" nbButton class="btn btn-info" (click)="Logout()">Logout</button>
          </nb-action>
         </nb-actions>
        </div>
  
  
      </nb-layout-header>
  
      <nb-sidebar state="compacted">
              <nb-menu [items]="items"></nb-menu>
      </nb-sidebar>
  
      <!-- nav bar end -->
    <nb-layout-column class="colored-column-basic">
        <nb-card>
            <nb-card-header>
                <b>Members</b>
                <button nbButton style="float: right; margin-left: 30px;" routerLink="/ApproveMember">
                    <nb-icon icon="person-done-outline" ></nb-icon>Approve Member
                </button>
                <button nbButton style="float: right;" routerLink="/AssignLeader">
                    <nb-icon icon="person-add-outline" ></nb-icon>Assign Leader
                </button>
            </nb-card-header><br><br>
        <nb-card-body>
            <nb-form-field>
                <input type="text" nbInput placeholder="Search">
                <button nbButton (click)="showErrorToast('top-right', 'danger')"><nb-icon nbPrefix icon="search-outline" pack="eva"></nb-icon></button>
            </nb-form-field><br><br><br>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Surname</th>
                </tr>
                <tr *ngFor="let member of members">
                    <td>{{member.Name}}</td>
                    <td>{{member.Surname}}</td>
                <tr>
            </table>
        </nb-card-body>

        </nb-card>
    
    </nb-layout-column>
</nb-layout>

